# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next
out

# Build artifacts
build
dist

# Git
.git
.gitignore

# Env
.env
.env.*

# Docker
Dockerfile
docker-compose.yml

# OS junk
.DS_Store

# Prisma generated
app/generated/prisma

# pnpm store
.pnpm-store
.pnpm
